# Dependências necessarias para o funcionamento do projeto

appdirs==1.4.4
attrs==24.2.0
Automat==24.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
Crawl==0.5.5
cryptography==43.0.0
cssselect==1.2.0
decorator==5.1.1
defusedxml==0.7.1
fake-useragent==1.5.1
filelock==3.15.4
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
h11==0.14.0
hyperlink==21.0.0
idna==3.8
importlib_metadata==8.4.0
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.1
jmespath==1.0.1
lxml==5.3.0
outcome==1.3.0.post0
packaging==24.1
parse==1.20.2
parsel==1.9.1
Protego==0.3.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyDispatcher==2.0.7
pyee==11.1.1
pyOpenSSL==24.2.1
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
python-dotenv==1.0.1
queuelib==1.7.0
ratelim==0.1.6
requests==2.32.3
requests-file==2.1.0
requests-html==0.10.0
Scrapy==2.11.2
selenium==4.24.0
service-identity==24.1.0
setuptools==74.0.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
tldextract==5.1.2
tqdm==4.66.5
trio==0.26.2
trio-websocket==0.11.1
Twisted==24.7.0
typing_extensions==4.12.2
urllib3==1.26.20
w3lib==2.2.1
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==10.4
wsproto==1.2.0
zipp==3.20.1
zope.interface==7.0.3